@font-face {
    font-family: 'newspaper';
    src: url('../text-font/newspaper-2/NewspaperCutoutWhiteOnBlac-Rg.ttf');
}

/* CONTAINER */
.container{
    grid-area: container;
    max-width: 100%;
    max-height: 100%;
}

.container .books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TITLES */
.container .books .general-title{
    font-family: newspaper;
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 1rem;
    
    margin-top: 3rem;
    color: var(--general-title-color);
}

.container .books .genre .genre-title{
    font-family: newspaper;
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    padding: 0.5rem;
}

.container .books .genre .book-name{
    font-size: 3rem;
    text-align: center;
    color: var(--book-name-color);

    margin-top: 2rem;
}

/* Genre ARTICLES */
.container .books .genre{
    margin: 3.4rem 1.4rem 0 1.6rem;
}


/* Books Images */
.container .books .genre .books-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;
    margin-top: 1.8rem;
}

.container .books .genre .books-images .book{
    display: flex;
    width: 91.65px;
    height: 142.25px;
}

.container .books .genre .books-images .book img{
    width: 100%;
}

/* FICCAO CIENTIFICA */
.container .books .genre{
    border: 2.4rem solid transparent;
    background-color: var(--background-books-color);
    border-image: url(../image/border/borda-tipo-filme_clipdrop-background-removal.png) 150 round;
}