@font-face {
    font-family: 'Kalligraphía';
    src: url('../text-font/alex-brush/AlexBrush-Regular.ttf');
    /* src: url('../text-font/newspaper-2/NewspaperCutoutWhiteOnBlac-Rg.ttf'); */
}

html{
    font-size: 62.5%;
    font-family: 'Kalligraphía';
}

body{
    /* OPÇÃO DE BORDA 1 */
    border: 3.6rem solid transparent;
    background-color: var(--background-html-color);
    border-image: url("../image/background-images/pergaminho-mobile-01.png") 125 round;

    max-height: 100%;
    max-width: 100%;
    padding: 1rem 0.6rem;
    margin: 0 0.8rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: grid;
    grid: 'header'
          'container'
          'footer';
}

hr{
    width: 100%;
    margin: 2.8rem 0;
    border-color: var(--hr-color);
}

.header-hr, .contaner-hr{
    width: 90%;
    margin: 1.6rem 0 0 0;
    border-color: var(--hr-color);
}

/* HEADER */
.header{
    grid-area: header;
    max-width: 100%;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.header .logo{
    display: flex;
    align-items: center;
    margin: 1rem 0 1.2rem 0;
}

.header .logo a img{
    width: 100%;
}

.header .logo .logo-title{
    font-size: 3.2rem;
    margin-left: 1rem;
}

/* Navegation */
.header .menu{
    display: flex;
}

.header .menu li{
    padding: 0.2rem;
    margin: 0 0.2rem;
    font-size: 2.6rem;
}

.header .menu li a{
    color: var(--anchors-color);

    padding: 0.2rem 0.7rem;
}

.header .menu li a:hover{
    background-color: var(--background-hover-link-color);
    color: var(--link-color);
    border-radius: 2rem;
}

/* CONTAINER */
.container{
    margin: 1rem 1rem;
}

.container .panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
}

.container .panel .general-title{
    margin: 1rem 0 1.8rem 0;
    font-size: 3.2rem;
}

.container .panel p{
    margin: 0 1.4rem;
    font-size: 2.6rem;
    line-height: 3rem;
}

/* FOOTER */
.footer{
    grid-area: footer;
    max-width: 100%;
    margin: 1rem 0;
    padding: 0 1rem;
}

.footer .inside-the-footer .footer-header{
    margin: 1.4rem 0;
}

/* FOOTER: FLEX - column */
.footer .inside-the-footer,
.footer .inside-the-footer .footer-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOOTER: FLEX - ROW */
.footer .inside-the-footer .footer-header .footer-logo,
.footer .inside-the-footer .footer-header .navegation .footer-menu,
.footer .inside-the-footer .contacts .nets{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO */

.footer .inside-the-footer .footer-header .footer-logo{
    margin: 1rem 0 1.4rem 0;
}

.footer .inside-the-footer .footer-header .footer-logo a img{
    width: 100%;    
}

.footer .inside-the-footer .footer-header .footer-logo .footer-logo-title{
    margin-left: 1rem;
    font-size: 2.8rem;
}

/* Navegation */ 

.footer .inside-the-footer .footer-header .navegation .footer-menu{
    font-size: 2rem;
}

.footer .inside-the-footer .footer-header .navegation .footer-menu li{
    padding: 0.2rem;
    margin: 0 0.2rem;
    font-size: 2.6rem;
}

.footer .inside-the-footer .footer-header .navegation .footer-menu li a{
    color: var(--anchors-color);
    padding: 0.2rem 0.7rem;
}

.footer .inside-the-footer .footer-header .navegation .footer-menu li a:hover{
    background-color: var(--background-hover-link-color);
    color: var(--link-color);
    border-radius: 2rem;
}

/* CONTACTS */
.footer .inside-the-footer .contacts .nets li{
    font-size: 2.3rem;
    margin: 0 1rem;
}

.footer .inside-the-footer .contacts .nets li a i{
    padding: 0.6rem;
    border-radius: 2.5rem;
    border: solid 0.2rem transparent;
}

.footer .inside-the-footer .contacts .nets .instagram{
    color: var( --instagram-icon-color);
}

.footer .inside-the-footer .contacts .nets .whatsapp{
    color: var(--whatsapp-icon-color);
}

.footer .inside-the-footer .contacts .nets .github{
    color: var(--github-icon-color);
}

.footer .inside-the-footer .contacts .nets li a i:hover{
    color: var(--high-color);
    border-radius: 2.5rem;
    border-color: var(--high-color);
}