html{
    font-size: 62.5%;
}

body{
    background-color: var(--body-color);
    height: 100vh;


    display: grid;
    grid: '. header .'
           '. container .'
           '. footer .';
}

/* HEADER */
.header{
    grid-area: header;
    background-color: var(--container-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    border: 0.15rem solid black;
}

.header .menu{
    display: flex;
}

.header .menu li{
    padding: 1rem;
    font-size: 2rem;
}

.header .menu li a{
    color: var(--heading-color);

    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
}

.header .menu li a:hover{
    background-color: var(--background-paragraph-color);
    color: var(--paragraph-color);
}

/* CONTAINER */
.container{
    grid-area: container;
    background-color: var(--container-color);

    max-width: 75rem;
    border: 0.15rem solid black;
}

.container .books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;

    background-color: var(--container-color);
    border: 0.15rem solid black;
}