html{
    font-size: 62.5%;
    background-color: var(--background-html-color);
}

body{
    max-height: 100%;
    border: 4.85rem solid transparent;
    background-color: var(--background-html-color);
    border-image: url("../image/background-images/pergaminho-borda-vermelha_clipdrop-background-removal.png") 125 round;
    margin: 1rem;
    padding: 1rem 0.25rem;
    
    display: grid;
    grid: 'header'
           'container'
           'footer';
}

hr{
    width: 100%;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    border-color: var(--hr-color);
}

/* HEADER */
.header{
    grid-area: header;
    max-width: 100%;
    border-bottom: 0.1rem solid black;
    padding: 0 0 1rem 0.4rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.header .logo{
    display: flex;
    align-items: center;
    margin: 1.4rem 0;
}

.header .logo a img{
    width: 100%;
}

.header .logo .logo-title{
    font-size: 2.2rem;
}

/* Navegation */
.header .menu{
    display: flex;
}

.header .menu li{
    padding: 0.1rem;
    font-size: 2rem;
}

.header .menu li a{
    color: var(--menu-anchors-color);

    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
}

.header .menu li a:hover{
    background-color: var(--background-hover-link-color);
    color: var(--link-color);
}

/* FOOTER */
.footer{
    grid-area: footer;
    max-width: 100%;
}