:root{
    --background-html-color: ;
    --general-background-color: #DFC6A8;
    --general-background-color-2: #e2c39c;
    --heading-color: ;
    --headings-color: ;
    --background-paragraph-color: ;
    --paragraph-color: ;

    --background-books: rgb(220, 173, 75);
    
    --link-color: ;
    --icon-instagram-color: ;
    --icon-facebook-color: ;
    --icon-whatsapp-color: ;
}