:root{
    --background-html-color: ;
    --general-background-color: #DFC6A8;
    --general-background-color-2: #e2c39c;
    --heading-color: rgb(37, 29, 7);
    --heading-2-color: rgb(109, 75, 23);
    --background-paragraph-color: rgb(46, 18, 0);
    --paragraph-color: rgb(235, 219, 195);
    
    --link-color: ;
    --icon-instagram-color: ;
    --icon-facebook-color: ;
    --icon-whatsapp-color: ;
}